$bg-color: #81cbb1;
$shadow-color: #869e97;

.container {
  color: rgb(134, 79, 79);
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(207, 203, 203);
  
  box-shadow: 3px 3px 0px 1px rgb(184, 165, 165);
  // border: white 4px solid;
  border-radius: 1rem;
}

.id {
  margin: 0;
  font-size: 1rem;
  background-color: rgb(255, 251, 231);
  padding: 0 1rem;
  border-radius: 1rem;
}

.text{
  font-size: 1.5rem;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  img {
    max-width: 60%;
  }
}

